* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RobotoSlab", sans-serif;
  font-size: 15px;
  background: url(../assets/img/bg.jpg) 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

.header__nav {
  background-color: rgba(127, 67, 224, 0.541);
  width: 100%;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 30px;
}

.header__menu-item {
  border-right: 5px dotted #ffffff;
  padding: 0 39px 0 0;
}

.header__menu-item:last-child {
  border-right: none;
}

.header__menu-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.header__menu-link:hover {
  color: aliceblue;
  text-decoration: underline;
  transition: all 1.3s;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
}

.main {
  margin-top: 70px;
  margin-bottom: 30px;
  background: url(../assets/img/main_bg.png) no-repeat 50% 100%;
  min-height: 1300px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__photo {
  position: absolute;
  top: 8px;
  right: 90px;
}

.profile__descr {
  margin: 50px 250px 0 0;
}

.profile__contacts {
  display: flex;
  margin-top: 20px;
}

.profile__email {
  padding-left: 25px;
  background: url(../assets/svg/icon-email.svg) no-repeat;
  margin: 0 10px 0 0;
  color: rgb(160, 160, 160);
}

.profile__phone {
  padding-left: 22px;
  background: url(../assets/svg/icon-phone.svg) no-repeat;
  color: rgb(160, 160, 160);
}

.profile__email:hover,
.profile__phone:hover {
  color: #000000;
  transition: all 1s;
}

.title {
  font-weight: 800;
  text-align: left;
  line-height: 30px;
  font-size: 30px;
}

.subtitle {
  margin: 7px 0;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
  font-size: 24px;
}
.subtitle__right {
  padding-left: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.contats__body-item a {
  color: #000000;
  margin-top: 10px;
}

.contats__body-item {
  margin-top: 5px;
}

.contacts__telegram:hover {
  color: #356ce4;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.contacts__telegram::before {
  content: url(../assets/svg/telegram.svg);
  position: relative;
  top: 3px;
  left: -3px;
}

.github:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.github::before {
  content: url(../assets/svg/github-icon.svg);
  position: relative;
  top: 2px;
  left: -3px;
}

.contacts__dis:hover {
  color: #734be0;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.contacts__dis::before {
  content: url(../assets/svg/discord-icon.svg);
  position: relative;
  top: 3px;
  left: -3px;
}

.education__body-university {
  text-transform: uppercase;
  line-height: 20px;
}

.education_body-link {
  color: #000000;
}

.education_body-link:hover {
  color: rgb(121, 148, 2);
  text-shadow: 1px 1px 2px pink;
  transition: all 1s;
}

.education_body-item::before {
  content: "➱";
  position: relative;
  top: 0;
  left: -3px;
}

.languages__body-item {
  line-height: 25px;
  font-size: 14px;
}

.block-left {
  padding-left: 10px;
  margin-top: 30px;
  border: 1px solid #515151;
  border-radius: 12px;
  width: 225px;
  height: 128px;
  background: #ffffff;
}

.block-left:nth-child(2) {
  height: 230px;
}

.block-left:nth-child(3) {
  height: 105px;
}
