* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RobotoSlab", sans-serif;
  font-size: 15px;
  background: url(../assets/img/bg.jpg) 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

.header__nav {
  background-color: rgba(127, 67, 224, 0.541);
  width: 100%;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 30px;
}

.header__menu-item {
  border-right: 5px dotted #ffffff;
  padding: 0 39px 0 0;
}

.header__menu-item:last-child {
  border-right: none;
}

.header__menu-link {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.header__menu-link:hover {
  color: aliceblue;
  text-decoration: underline;
  transition: all 1.3s;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
}

.main {
  margin-top: 70px;
  margin-bottom: 30px;
  background: url(../assets/img/main_bg.png) no-repeat 50% 100%;
  min-height: 1300px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__photo {
  position: absolute;
  top: 8px;
  right: 90px;
}

.profile__descr {
  margin: 50px 250px 0 0;
}

.profile__contacts {
  display: flex;
  margin-top: 20px;
}

.profile__email {
  padding-left: 25px;
  background: url(../assets/svg/icon-email.svg) no-repeat;
  margin: 0 10px 0 0;
  color: rgb(160, 160, 160);
}

.profile__phone {
  padding-left: 22px;
  background: url(../assets/svg/icon-phone.svg) no-repeat;
  color: rgb(160, 160, 160);
}

.profile__email:hover,
.profile__phone:hover {
  color: #000000;
  transition: all 1s;
}

.title {
  font-weight: 800;
  text-align: left;
  line-height: 30px;
  font-size: 30px;
}

.subtitle {
  margin: 7px 0;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
  font-size: 24px;
}
.subtitle__right {
  padding-left: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.contats__body-item a {
  color: #000000;
  margin-top: 10px;
}

.contats__body-item {
  margin-top: 5px;
}

.contacts__telegram:hover {
  color: #356ce4;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.contacts__telegram::before {
  content: url(../assets/svg/telegram.svg);
  position: relative;
  top: 3px;
  left: -3px;
}

.github:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.github::before {
  content: url(../assets/svg/github-icon.svg);
  position: relative;
  top: 2px;
  left: -3px;
}

.contacts__dis:hover {
  color: #734be0;
  text-shadow: 1px 1px 2px rgb(24, 6, 9);
  transition: all 1s;
}

.contacts__dis::before {
  content: url(../assets/svg/discord-icon.svg);
  position: relative;
  top: 3px;
  left: -3px;
}

.education__body-university {
  text-transform: uppercase;
  line-height: 20px;
}

.education_body-link {
  color: #000000;
}

.education_body-link:hover {
  color: rgb(121, 148, 2);
  text-shadow: 1px 1px 2px pink;
  transition: all 1s;
}

.education_body-item::before {
  content: "➱";
  position: relative;
  top: 0;
  left: -3px;
}

.languages__body-item {
  line-height: 25px;
  font-size: 14px;
}

.block-left {
  padding-left: 10px;
  margin-top: 30px;
  border: 1px solid #515151;
  border-radius: 12px;
  width: 225px;
  height: 128px;
  background: #ffffff;
}

.block-left:nth-child(2) {
  height: 230px;
}

.block-left:nth-child(3) {
  height: 105px;
}

.block-right {
  margin-top: 30px;
  width: 520px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 15px 15px 0px #fe74a6;
  border-radius: 12px;
  margin-right: 40px;
}

.block-right:nth-child(2) {
  height: 230px;
  box-shadow: 15px 15px 0px #3dc39b;
}

.block-right:nth-child(3) {
  width: 470px;
  height: 180px;
  box-shadow: 15px 15px 0px #5b6dff;
  padding: 0 10px 0;
}

.about p {
  padding-left: 10px;
  text-indent: 15px;
  font-size: 15px;
}

.about span {
  /* font-family: "Source Sans Pro"; */
  font-weight: 800;
  color: #ff6a00;
  font-size: 14px;
  padding-left: 20px;
  line-height: 32px;
}

/* Skills */
.skills-list {
  margin: 0;
  padding: 0;
}

.skills__list dt {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 11px;
}

.skills__list-html {
  background-image: url(../assets/svg/icon-html.svg);
}

.skills__list-css {
  background-image: url(../assets/svg/icon-css.svg);
}

.skills__list-js {
  background-image: url(../assets/svg/icons8-javascript.svg);
}

.skills__list-git {
  background-image: url(../assets/svg/git-icon.svg);
}

.level {
  width: 500px;
  margin: 4px 0 11px 8px;
  padding: 0;
  height: 12px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 8px;
  background-color: rgb(78, 25, 163);
  border-radius: 6px;
}

.examples__body-descr {
  font-size: 14px;
  margin-bottom: 4px;
}

.examples__color-orange {
  color: #ff6a00;
}

.examples__color-blue {
  color: #356ce4;
}

.examples__color-pink {
  color: #fe74a6;
}

.examples__color-yellow {
  color: gold;
}

.examples__color-violet {
  color: blueviolet;
}

.examples__header {
  padding-left: 5px;
}

.wrapper__footer {
  margin-top: 30px;
  width: 490px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 15px 15px 0px #e24a0e;
  border-radius: 12px;
  margin-right: 40px;
}

.examples__works {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.examples__works-img {
  width: 150px;
  height: 120px;
  border: 2px solid #000000;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}

.examples__works-link {
  color: #ffffff;
}

.examples__works-descr {
  font-weight: 700;
  text-align: center;
}

.round {
  content: "";
  background-color: rgb(201, 51, 25);
  border-radius: 50%;
}

.footer {
  background-color: rgba(127, 67, 224, 0.541);
  width: 100%;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__year {
  color: aliceblue;
  text-shadow: 1px 1px 2px #000000;
}

.footer__github {
  color: aliceblue;
  text-shadow: 1px 1px 2px #000000;
}

.footer__github:hover {
  color: #000000;
  text-shadow: 1px 1px 2px aliceblue;
  transition: all 1.7s;
}

.footer__logo-img {
  width: 70px;
  height: 35px;
}

.bold {
  font-weight: 700;
}
